html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-family: Poppins, sans-serif;
    color: #0e1215;
    background-color: white;
}

* {
    margin: 0;
}

img {
   width: 100%; 
}

h1 {
    font-size: 2rem;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.wrapper {
    max-width: 1280px;
    margin: 2em 6em;
    padding: 4em;
}

.logos {
    width: 10%;
}

header {
    background-color: #0e1215;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

.about-flex {
    display: flex;
    align-items: center;
}

.about-flex div p{
    padding-bottom: 10px;
}

footer {
   background-color: #0e1215;
}

footer p {
    text-align: center;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 60px;
}

.name {
    margin-left: auto;
    margin: 0px 0px 0px 60px;
    font-size: 1.5em;
}

nav ul li {
    padding: 1.5em;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    color: white;
}

.nav-link:hover,
.nav-link:focus {
    color: #afaead;
}


.work-grid {
    
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.one {
    grid-column: 1 / span 3;
}

.two {
    grid-column: 4 / span 3;
}

.three {
    grid-column: 1 / span 2;
}

.four {
    grid-column: 3 / span 2;
}

.five {
    grid-column: 5 / span 2;
}

#work p {
    text-align: center;
    max-width: 640px;
    margin: auto;
    padding-bottom: 20px;
}

#testimony {
    background-color: #0e1215;
    color: white;
}

#services {
    background-color: #FAFAFA;
}

.services-flex {
    display: flex;
}

.services-flex article {
    flex: 1 1 0;
}

.link {
    margin-top: auto;
}

article {
    background-color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 4px;
    border-style: solid;
    border-color: #efefef;
}

article p {
    padding-bottom: 20px;
}

.quotes {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}

blockquote {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.q1 p,
.q2 p {
    text-align: center;
    color: #afaead;
}

.q1,
.q2 {
    padding: 0px 60px;
}

.link {
    text-align: left;
}

.link:link,
.link:visited {
background-color: black;
padding: 5px 7px;
text-decoration-line: none;
color: white;
border-radius: 3px;
}

.link:hover,
.link:focus {
padding: 5px 7px;
background-color: white;
text-decoration-line: none;
color: black;
border-radius: 3px;
border-style: solid;
}

.about-flex div h1,
.about-flex div h2 {
    text-align: left;
}

.logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos ul li {
    list-style-type: none;
}

.logos ul li img{
    width: 50px;
    padding: 10px;
}

#contact div div p {
    text-align: center;
    max-width: 640px;
    margin: auto;
}

.logos {
    margin: auto;
    padding-top: 20px;
}